.card-img-top {
    width: 100%; /* Responsive width */
    height: 400px; /* Fixed height */
    object-fit: cover; /* Crop image at the center to fit the square */
}
.invalid {
    color: red;
}

#pagination button {
    margin: 0 5px;
    padding: 8px 12px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
    cursor: pointer;
}

#pagination button:hover {
    background-color: #f0f0f0;
}

#pagination button.active {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
}

#pagination button:disabled {
    background-color: #e9ecef;
    cursor: not-allowed;
}